<header>
  <nav class="navbar sticky-top navbar-dark bg-dark text-white">
    <div class="container-fluid px-2 my-2">
      <a class="navbar-brand mx-2" href="/">ACME Inc.
      <img src='http://localhost:8082/LogoACME.jpg' width="50" height="30" class="d-inline-block align-text-top"></a>
      <div class="me-auto d-block" id="navbarTogglerDemo02">
        <ul class="navbar-nav my-auto list-group list-group-horizontal">
          <li class="nav-item mx-4 active">
            <a class="nav-link" aria-current="page" href="/"><i class="fa fa-home"></i> Home</a>
          </li>
          <li class="nav-item mx-4">
            <a class="nav-link" href="/historial"><i class="fa fa-history"></i> History</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>